body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

nav {
    box-sizing: border-box;
    background-color: red;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 75px;
    padding: 12px;
}

.container {
    /* width: 100%; */
    box-sizing: border-box;
    margin: 0px 70px 30px 70px;
    padding: 0px 15px 0px 15px;
    /* width: inherit; */
}

.navbar-contents {
    display: inline-block;
    position: relative;
    padding-left: 0px;
}

.navbar-contents h1 {
    /* padding: 0px; */
    display: inline;
}

.navbar-contents form {
    display: inline;
}

.img-container {
    padding-top: 20px;
}
