
<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}

{% block body %}

<!-- TODO: Make an HTML form containing a search box and a submit button to add the search term to the query string -->
    <nav class="navbar navbar-expand-lg navbar-dark lighten-2 mb-4 sticky-top">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="/">tenor</a>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form action='/submit' class="form-inline mr-auto">
                <input class="form-control" name="search" id="process-input" type="text" placeholder="Search" aria-label="Search">
                <!-- <button class="btn btn-mdb-color btn-rounded btn-sm my-0 ml-sm-2" type="submit">Search</button> -->
            </form>
        </div>
        <!-- Collapsible content -->
    </nav>

    <div class="my-container">
        <div class="btn-group">
            <form action="/">
                <button name="random" class="btn btn-rounded" id="random-button" type="submit">random</button>
            </form>
            <form action="/trending">
                <button name="trending" class="btn btn-rounded" id="trending-button" type="submit">trending</button>
            </form>
        </div>

        <!-- TODO: Make a for loop to loop over GIFs passed in from the server -->
        <!-- TODO: For each gif, include the 'gif.html' template to display it -->
        {% if api_connection %}
            {% if no_results %}
                <h1>Sorry, looks like there's no gifs for {{ search }}. Try another search!</h1>
            {% else %}
            <!-- <div id="img-grid" class="grid img-container" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 25 }'>
                {% for gif in gifs %}
                    {% include "gif.html" %}
                {% endfor %}
            {% endif %}
            </div> -->
                {% include "gifs.html" %}
        {% else %}
            <h1> {{ api_connection }} </h1>
            <h1>Looks like we're having trouble connecting to the Tenor API. Sorry about that.</h1>
        {% endif %}
    </div>

{% endblock %}
