
<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}

{% block body %}

<!-- TODO: Make an HTML form containing a search box and a submit button to add the search term to the query string -->
    <div class="container">
        <!-- <nav>
            <div class="container navbar-contents">
                <div class="search-wrapper">
                    <form action="/submit">
                        <input type="text" name="search" placeholder="Search GIF..."/>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </nav> -->

        <nav class="navbar navbar-expand-lg navbar-dark blue lighten-2 mb-4">

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <form action="/submit" class="form-inline mr-auto">
                    <input class="form-control" name="search" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-mdb-color btn-rounded btn-sm my-0 ml-sm-2" type="submit">Search</button>
                </form>

            </div>
            <!-- Collapsible content -->

            <!-- Navbar brand -->
            <a class="navbar-brand" href="#">Navbar</a>

        </nav>

        <!-- TODO: Make a for loop to loop over GIFs passed in from the server -->
        <!-- TODO: For each gif, include the 'gif.html' template to display it -->
        <div class="grid img-container" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 25 }'>
            {% for gif in gifs %}
                {% include "gif.html" %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
